{% extends 'layout.html' %}

{% block content %}
	<script type="text/javascript">
		function onImageLoadError() {
			this.onError=null;
			this.setAttribute('src', this.getAttribute('data-default'));
		}
	</script>

	<div class="container builder">
		<h1>{{title}}</h1>
		<!--div id="search-bar">
			<input id="search" type='text' />
		</div-->
		<div id="card-list">
			<ul>
				{% for card in cards %}
					<li class='card'>
						<div class="counter"><p></p></div>
						<img data-default='/card_imgs/150x213.gif' src="/card_imgs/150/{{card.attributes.card_number}}.jpg" onError="onImageLoadError.call(this)"/>
					</li>
				{% endfor %}
				<div class='clear'></div>
			</ul>
		</div>
		<div id="card-info">
			<img id="selected-card" src='/card_imgs/transparent.gif' />
		</div>
	</div>

{% endblock %}

{% block js %}
	{% parent %}
	<script type="text/javascript">
		(function($){
			var cardScroller = new iScroll('card-list');

			$(window).on('resize', function(){
				cardScroller.refresh();
			});

			$('#card-list img').each(function(){
				cardScroller.refresh();
				makeDraggable($(this));
			});

			$('#card-list img').on('click', function(){
				$('#selected-card').attr('src', $(this).attr('src'));
			});

			$('#card-list .card').mousedown(function(){
				$('.active-card').removeClass('active-card');
				$(this).addClass('active-card');
			});

			function makeDraggable($card) {
				var width = $card.width();
				var left =  -(width/4);
				var right = (width * 1.25) - width;
				var top = 0;
				var bottom = $card.height();
				var dX = 0;
				var currentX;
				var startX;
				var startOffsetX;
				var recordAction = false;
				var $counter = $card.parent().find('.counter p');
				var count = 0;

				$card.css('-webkit-transition', ' -webkit-transform 0s linear');
				$card.on('mousedown', function(e){
					recordAction = true;
					startX = e.clientX;
					startOffsetX = e.offsetX;
					$(document).on('mousemove', trackMovement);
				}).on('mouseup mouseleave', function(){
					recordAction = true;
					$(document).off('mousemove', trackMovement);
					$card.css({
						'-webkit-transition': ' -webkit-transform 0.1s linear',
						'-webkit-transform': 'translateX(0px)'
					});
				});

				function trackMovement(e) {
					currentX = e.clientX;
					dX = currentX - startX; //console.log('dX: ', dX);

					if (dX > right) {
						dX = right;
						if (recordAction && count < 3) {
							console.log('click right', count, $counter, $card);
							$counter.html(++count);
							$counter.parent().addClass('active');
							recordAction = false;
						}
					} else if ( dX < left) {
						dX = left;
						if (recordAction && count > 0) {
							console.log('click left');
							$counter.html(--count);
							if (count === 0) {
								$counter.parent().removeClass('active');
							}
							recordAction = false;
						}
					}

					$card.css('-webkit-transform', 'translateX('+dX+'px)');
				}
			}
		})(jQuery);
	</script>
{% endblock %}
