@import './grid.styl'

//////////
// GRID //
//////////

column-width = 12.5%

////////////
// LAYOUT //
////////////

.container.builder
		width: 100%

	#card-list
		column(6)
		height: 100%
		ul
			width: 100%
			list-style: none
			li
				&.card
					subcolumn(6, 1)
					position: relative;
					&.active-card
							z-index:99
					img
						width: 100%
						position: relative

	#card-info
		column(2)
		img
			width: 100%
